#exportPattern("^[[:alpha:]]+")
importFrom(zoo,coredata)
S3method(coredata,xts)

export(xts)
export(as.xts)
export(is.xts)
export(reclass)
S3method(as.xts,ts)
S3method(as.xts,xts)
S3method(as.xts,zoo)
S3method(as.xts,data.frame)
S3method(as.xts,matrix)
S3method(as.xts,timeSeries)
S3method(as.xts,its)
S3method('[',xts)
S3method(print,xts)

#export(endpoints,startof,endof)

#export(tindex)
#S3method(tindex,default)
#S3method(tindex,its)
#S3method(tindex,ts)
#S3method(tindex,timeSeries)

#export(timeformat)
#S3method(Ops,timeformat)
#S3method(print,timeformat)
