# user visible core xts functions
export(xts)
export(as.xts)
export(is.xts)
export(reclass)
export(endpoints)
export(CLASS)
export('CLASS<-')
export(indexClass)
export('indexClass<-')

# xts methods
importFrom(zoo,coredata)
S3method(coredata,xts)
S3method(as.xts,xts)
S3method('[',xts)
S3method(print,xts)
S3method('CLASS<-',xts)
S3method('indexClass<-',xts)

# ts specific methods
S3method(as.xts,ts)

# zoo specific methods
importFrom(zoo,as.zoo)
S3method(as.xts,zoo)
S3method(as.zoo,xts)

# data.frame specific methods
S3method(as.xts,data.frame)

# matrix specific methods
S3method(as.xts,matrix)

# timeSeries (package:fSeries) specific methods
#export(xts.as.timeSeries)
S3method(as.xts,timeSeries)

# its (package:its) specific methods
#export(xts.as.its)
S3method(as.xts,its)


## currently unexported functions that _may_ be exported at some point

#export(startof,endof,firstof,lastof)

#export(tindex)
#S3method(tindex,default)
#S3method(tindex,its)
#S3method(tindex,ts)
#S3method(tindex,timeSeries)

#export(timeformat)
#S3method(Ops,timeformat)
#S3method(print,timeformat)
